* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
}

.input {
    text-align: center;
    margin: 100px auto;
}

input[type="submit"] {
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

.input input[type="text"] {
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 1px;
    font-weight: bold;
    font-size: 20px;
}

.container {
    width: 600px;
    min-height: 200px;
    background: #e7e7e7;
    margin: 50px auto;
    padding: 40px 30px;
    border-radius: 25px;
    text-align: center;
}

.information{
    display: flex;
    flex-direction: column;
}
.main_information{
    font-size: 22px;
}
.city{
    margin-bottom: 10px;
}

.temp{
    margin-bottom: 10px;
}

.main_information{
    margin-bottom: 50px;
}

.add_informatin{
    display: flex;
    font-size: 20px;
}