#div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.circle {
    border-radius: 50%;
    background-color: gray;
    margin: 20px;
    width: 80px;
    height: 80px;
}

button {
    background-color: rgb(225, 225, 225);
    height: 100px;
    width: 100px;
    border-radius: 20%;
    margin-left: 20px;
    outline: 0;
    border: none;
    cursor: pointer;
}
