*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #7E57C2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

.calculatorLuckyTicket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.calculatorLuckyTicket input {
    width: 400px;
    height: 30px;
    padding: 5px 20px;
    margin-bottom: 15px;
    border-radius: 50px;
    border: none;
    outline: 0;
}

.calculatorLuckyTicket label {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}


.calculateIsLuckyTicket {
    margin-top: 20px;
    width: 200px;
    background-color: #d35151;
    color: #ffffff;
    font-size: 20px;
    padding: 20px 50px;
    border-radius: 50px;
    text-align: center;
    border: none;
    outline: 0;
    cursor: pointer;
}

.calculateIsLuckyTicket:hover {
    transform: scale(1.09);
    transition: transform 0.3s linear;
}